:root{
 --primary-color:#845199;
 --secondry-color:#b66fd2;
}
html{
    font-size: 62.5%;
}
body{
    height: 150vh;
    background: linear-gradient( to right ,#FFAFBD,#ffc3a0 90%);
   animation: bg-animation  15s  infinite ; 
   font-family: 'Shantell Sans', cursive;
   
}
@keyframes bg-animation {
   0%{
    background:linear-gradient(to right, #FFAFBD,#ffc3a0 85%) 
   } 
   10%{
    background:linear-gradient(to right, #f89fae,#f9b48d 80%) 

   }
   20%{
    background:linear-gradient(to right,#f992a3,#f9a473 75%) 

   }
   30%{
    background:linear-gradient(to right,#f77288,#f4a475 70%) 

   }
   40%{
    background:linear-gradient(to right,#f6899b,#ffc3a0 90%) 

   }
   50%{
    background:linear-gradient(to right, #FFAFBD,#f3a579 85%) 

   }
   60%{
    background:linear-gradient(to right,#e17587,#ed9b6b 80%) 

   }
   70%{
    background:linear-gradient(to right,#dd8896,#f3a578 75%) 

   }
   80%{
    background:linear-gradient(to right,#FFAFBD,#ffc3a0 70%) 

   }
   90%{
    background:linear-gradient(to right,#c8828d,#e2a17b 65%) 

   }
   100%{
    background:linear-gradient(to right,#b47680,#ffc3a0 60%) 

   }
}
/* body  form style */
.h1elem h1{
    color: var(--primary-color);
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    padding: 20px 20px 60px 20px;
    margin: 40px;
    text-shadow: 2px 2px 6px rgb(69, 68, 68);
}
.h1elem h1:hover{
    transform: rotate(3deg) ;
    transition: all 2s ease-in}
.login-form{
    display: flex;
    justify-content: center;
    overflow: auto;
    padding: 30px;
}
.login-box{
    background-color: #bc96a1;
    margin: 50px;
    border-radius: 50px;
    font-size: 3.6rem;
    width: 45%;
    height: 80vh;
    box-shadow: 10px 10px 8px rgb(74, 59, 59);
    overflow: auto;
    display:flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}

.login-box label{
    color:var(--secondry-color) ;
    text-shadow: 2px 2px 5px rgb(51, 50, 50);
}
.login-box input{
    width:45% ;
border-radius: 20px;
background-color: rgb(217, 194, 194);
color: rgb(79, 75, 70);
text-align: center;
padding: 13px;
font-size: 1.9rem;
transition: all 1.2s;

}
input[type="submit"]{
    width: 200px;
    padding: 10px;
}
input:hover{
    transform: scale(1.2);
}


.login-box:hover{
    scale: 1.1;
}


/* footer style */
.footer-login{
   display: flex;
   justify-content: center;
   margin: 150px 0px 10px 0px;
}
.footer{
    padding: 20px;
   width: 100%; 
   border: 1px solid rgb(138, 128, 128);
   border-radius: 10px;
   background-color:#feaab8 0.3 ;
   box-shadow: 2px 2px 10px rgb(91, 82, 82);
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: space-around;

}

.footer div:hover{
    transform: scale(1.1);
}
   
.footer:hover{
    box-shadow: 4px 4px 20px black;
}
.contact-us{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
}
.tell-footer{
    color: rgb(47, 50, 50);  
}
section.about-me{
    column-count: 2;
    font-size: 1.5rem;
    line-height: 2.25;
    text-transform: capitalize;

}

/* media query */
@media screen and (max-width:790px){
.h1elem h1{
    font-size:3.2rem;
    padding-bottom: 1px;
    margin-bottom: 1px;
}
.login-box input{
    padding: 5px;
}
.contact-us {
    font-size:1.5rem ;
}

}
@media screen and (max-width:580px){
    label{
        font-size: 2.3rem;
    }
    input,a{
        height: 2rem;
        width: 40%;
        /* padding: 2rem; */

    }
      a input {
        height:30px ;
        width: 100%;
        position: relative;
        left: 20px;
        right: 205px;
    }
    label{

        position: relative;
        left: 20px;
    }
    .login-form{
        padding-right: 20px;
        display: flex;
        justify-content:flex-start;
        width: 650px
    }
}